# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# R
.Rhistory
.RData
.Rproj.user/

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT COMMIT LARGE FILES)
*.npy
*.csv
*CEL.gz
*.bw
*.bam
*.sam
*.fastq*
*.bed
*.bedGraph

# Results
outputs/
logs/

# OS
.DS_Store

# model
*.pkl